<web-app xmlns="xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="xmlns.jcp.org/xml/ns/javaee 
         xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
    id="WebApp_ID" version="3.1">
    
    <display-name>DaoUIWeb</display-name>
    <welcome-file-list>
		<welcome-file>index.html</welcome-file>
    </welcome-file-list>

</web-app>